body{
    margin:0;
font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

/******Start of Logo for contact page*******************/
.logo-contact{
  float:left;
  width:25%;
}
.eye-clein-matterhorn-fade{
  height:60%;
  width:60%;
}
.brand-name-secondary{
    position:absolute;
    left:7.5%;
    top:1%;
     font-family: 'Pacifico', cursive;
     color:white;
}
/******End of Logo for contact page*******************/

/******Start of nav for Secondary page*******************/
.main-nav-div{
  float:left;
  width:75%;
  background-color: white;
}
.main-nav-secondary{
  background-color: white;
}

.nav-list-secondary{
  padding: 0px;
  list-style:none;
  background-color: white;
}

.nav-item-secondary{
  float:left;
  margin: -12.5px 1px 0px 30px;
  font-size: 22.5px;
}
.nav-link-secondary{ 
  color: black;
  text-decoration: none; 
}
.current-page{
border: 2px solid #00ffcc;
width: 63px;
height: 22px;
position: absolute;
left: 63.95%;
top: 1.5%;
}
.nav-link-secondary:hover{
  color:blue;
}
.blank{
  position:absolute;
  background:black;
  top:2%;
  right:3.5%;
  margin-top:27.5px;
  width:50%;
  height:1px;
  margin-left:25%;
  margin-right:25%;
}
/******End of nav for secondary page*******************/


/****Start of contact sheet****/

/****Start of contact header****/
.contact-title{
  position:absolute;
  left:45%;
  top:7.5%;
}
.contact-header{
  text-align:center;
  padding-top: 10px;
  margin-top:0px;
  }
  
.snapchat{
  width:70%;
  margin-left: 30%;
  margin-top:1%;
  height:90%;
}
.snapchat-logo{
    width: 50%;
    height:50%;
    margin:auto;
}

.contact-page{
  height:initial;
  padding-bottom:-5px;
  padding-top:65px;
}

/****End of contact header****/



.video-container{
  height:315px;
  width:50%;
  margin: 0 auto;
}



/****Start of footer****/
.footer-container{
  height:70px;
  padding:15px;
  border-top:1px solid black;
  clear:both;
  margin-top: 1.15%;
}

.social-media-container{
  width:15%;
}
.social-media-container .fa{
  font-size:18px;
  margin-left:15%;
  color:blue;
}

.contact-container{
  width:70%;
  text-align:center;
}

.left{
  float:left;
}

.right{
  float:right;
}

.copyright{
  display:inline-block;
  margin:0px 15px;
}
.contact-info{
  text-align:center;
  display:inline-block;
}

/****End of footer****/
