body{
    margin:0;
font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

/****Start of Nav****/
.main-nav{
    background:#00ffcc;
    padding:10px;
    height:60px;
}
.logo{
    height:60px;
    width:80px;
}
.nav-list{ 
  padding: 0px;
  float:right;
  list-style:none;
}
.nav-item{
  float:left;
  margin: 0px 10px 0px 15px;
}
.nav-link{ 
  color: white;
  text-decoration: none; 
}
.nav-link:hover{
  color:blue;
  text-decoration:underline;
}
/**** End of nav****/

/**** Start of hero****/
.hero-section{
  background-image:url('../images/elcapitan.jpg');
  height:400px;
  background-repeat:no-repeat;
}
.brand-name{
  text-align:center;
  margin:0;
  color:white;
  padding-top:175px;
  font-size:36px;
}
.brand-background{
  background-color:rgba(0,0,0,.5);
  padding:20px;
}
/**** End of hero****/

/**** Start of columns****/
.info-column{
  margin:10px .5% 0px 3.5%;
}
.info-column::after{
  content:"";
  display:block;
  clear:both;
}
.column{
  width:30%;
  margin:0px 0px 0px 1%;
  float:left;
  text-align: center;
}
.column-matterhornday{
  height:100%;
  width:100%;
    border:5px solid #00ffcc;
}
.column-mountfuji{
  height:100%;
  width:100%;
    border:5px solid #00ffcc;
}
.column-matterhorngalaxy{
  height:100%;
  width:100%;
    border:5px solid #00ffcc;
}
.column-button{
  padding:6px 12px;
  border:none;
  border-radius: 6px;
  background:#00ffcc;
  clear:both;
  text-align: center;
}
/**** End of columns****/

/*** Start of bio-description column****/
.banff-container{
  padding: 15px;
  
}
.banff-container::after{
  content:"";
  display: block;
  clear:both;
}

.bio-description-column1{
  width: 55%;
  height:459px;
  float: left;
  background-color: #00ffcc;
}
.bio-description-column2{
  width: 45%;
  height:459px;
  float: left;
  background-color: #00ffcc;
}

.bio-description-column2 h4{
  padding-right:36px;
  text-align: justify;
}

.angel-banff{
  position:absolute;
  left:1%;
  width:816px;
  height:459px;
  transition:all .25s;
}
.angel-banff:hover{
  left:25%;
  transform:scale(1.45,1.45);
}

/*** End of bio-description column****/

/****Start of footer****/
.footer-container{
  height:70px;
  padding:15px;
  border:1px solid black;
  clear:both;
}

.social-media-container{
  width:15%;
}
.social-media-container .fa{
  font-size:18px;
  margin-left:15%;
  color:blue;
}

.contact-container{
  width:70%;
  text-align:center;
}

.left{
  float:left;
}

.right{
  float:right;
}

.copyright{
  display:inline-block;
  margin:0px 15px;
}
.contact-info{
  text-align:center;
  display:inline-block;
}

/****End of footer****/

/****Start of contact sheet****/
.form-container{
  width:50%;
  margin:0 auto;
  background-color:rgba(120, 112, 215, 0.3);
  padding:20px;
}
/**** Start of hero****/
.hero-section-contact{
  background-image:url('../images/elcapitan.jpg');
  height:543px;
  background-repeat:no-repeat;
}

/****End of contact sheet****/

/****Start of contact header****/
.contact-header{
  text-align:center;
  padding-top: 10px;
  margin-top:0px;
  }
.contact-page{
  height:initial;
  padding-bottom:25px;
}

/****End of contact header****/
