body{
    margin:0;
font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
/******Start of Logo for about page*******************/
.logo-about{
  float:left;
  width:25%;
}
.eye{
  height:60%;
  width:60%;
}
.brand-name-secondary{
    position:absolute;
    left:7.5%;
    top:1%;
     font-family: 'Pacifico', cursive;
     color:white;
}
/******End of Logo for about page*******************/



/******Start of nav for Secondary page*******************/
.main-nav-div{
  float:left;
  width:75%;
  background-color: white;
}
.main-nav-secondary{
  background-color: white;
}

.nav-list-secondary{
  padding: 0px;
  list-style:none;
  background-color: white;
}
.current-page{
border: 2px solid #00ffcc;
width: 59px;
height: 22px;
position: absolute;
left: 50.25%;
top: 1.5%;
}

.nav-item-secondary{
  float:left;
  margin: -12.5px 1px 0px 30px;
  font-size: 22.5px;
}
.nav-link-secondary{ 
  color: black;
  text-decoration: none; 
}
.nav-link-secondary:hover{
  color:blue;
}
.blank{
  position:absolute;
  background:black;
  top:2%;
  right:3.5%;
  margin-top:27.5px;
  width:50%;
  height:1px;
  margin-left:25%;
  margin-right:25%;
}
/******End of nav for secondary page*******************/
.blank-space{
margin-top: 3%;
background: white;
width: 800px;
height: 10px;
}

/*** Start of travels-first****/
.travel-container-first{
  padding: 15px;
  
}
.travel-container-first::after{
  content:"";
  display: block;
  clear:both;
}

.travel-description-column1-first{
  width: 55%;
  height:459px;
  float: left;
  background-color: #00ffcc;
}
.travel-description-column2-first{
  width: 45%;
  height:459px;
  float: left;
  background-color: #00ffcc;
}

.travel-description-column2-first h4{
padding-right: 30px;
text-align: justify;
margin-bottom: 12px;

}

.travel-first{
  position:absolute;
  left:.95%;
  width:816px;
  height:459px;
  transition:all .25s;
}
.travel-first:hover{
  left:25%;
  transform:scale(1.45,1.45);
  z-index:10;
}
.column-button-first{
  padding:6px 12px;
  border:none;
  border-radius: 6px;
  background:white;
  clear:both;
  text-align: center;
  margin-left:10px;
  margin-bottom:10px;
  
}
.column-button-first:hover{
  cursor:pointer;
}

/*** End of travels-first styles****/

/*** Start of travels****/
.travel-container{
  padding: 15px;
  margin-top:-75px;
  
}
.travel-container::after{
  content:"";
  display: block;
  clear:both;
}

.travel-description-column1{
  width: 55%;
  height:459px;
  float: left;
  background-color: #00ffcc;
}
.travel-description-column2{
  width: 45%;
  height:459px;
  float: left;
  background-color: #00ffcc;
}

.travel-description-column2 h4{
padding-right: 30px;
text-align: justify;
margin-bottom: 12px;

}

.travel{
  position:absolute;
  left:.95%;
  width:816px;
  height:459px;
  transition:all .25s;
}
.travel:hover{
  left:25%;
  transform:scale(1.45,1.45);
  z-index:10;
}
.column-button{
  padding:6px 12px;
  border:none;
  border-radius: 6px;
  background:white;
  clear:both;
  text-align: center;
  margin-left:10px;
  margin-bottom:10px;
  
}
.column-button:hover{
  cursor:pointer;
}

/*** End of travels styles****/


/****Start of footer****/
.footer-container{
  height:70px;
  padding:15px;
  border-top:1px solid black;
  clear:both;
}

.social-media-container{
  width:15%;
}
.social-media-container .fa{
  font-size:18px;
  margin-left:15%;
  color:blue;
}

.contact-container{
  width:70%;
  text-align:center;
}

.left{
  float:left;
}

.right{
  float:right;
}

.copyright{
  display:inline-block;
  margin:0px 15px;
}
.contact-info{
  text-align:center;
  display:inline-block;
}

/****End of footer****/

